<div *ngIf="juegos?.length == 0" class="alert alert-info">
  No se han encontrado juegos en la Base de Datos
</div>

<div class="my-5 pr-4 text-right">
  <button class="btn btn-dark" type="button" routerLink="/juegos/form">Crear juego</button>
</div>

<div class="card border-dark mb-3" *ngIf="juegos?.length > 0">
  <div class="card-header">Juegos
    <button type="button" class="btn btn-dark float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
  </div>
  <div class="card-body">

    <table class="table table-bordered table-striped">
      <thead>
        <th *ngIf="showId">ID</th>
        <th>Título</th>
        <th>Fecha de lanzamiento</th>
        <th>Precio</th>
        <th>PEGI</th>
        <th>Categoría</th>
      </thead>
      <tbody>
        <tr *ngFor="let juego of juegos">
          <td *ngIf="showId">{{juego.idJuego}}</td>
          <td>{{juego.titulo}}</td>
          <td>{{juego.fechaLanzamiento | date:'dd/MM/yyyy'}}</td>
          <td>{{juego.precio}}</td>
          <td>{{juego.pegi}}</td>
          <td>{{juego.categoria | uppercase}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
